*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family:  Helvetica,Arial,sans-serif;
    width: 99vw;
    height: 100vh;
}

body{
    position: relative;
}

.wholeHeader{
    color: white;
    position: relative;
}
.profile{
    position: absolute;
    bottom: -21.5rem;
    right: 1%;
   background-color: #141414;
    z-index: 12;
 clip-path: polygon(78% 0, 86% 8%, 100% 8%, 100% 100%, 0 100%, 0 9%, 68% 9%);
 padding: 2rem 1rem 1rem 1rem;

 font-size: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: 0.2rem 0 1rem white;
    display: none;
}
.profile.active{
    display: inline-block;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: 0.2rem 0 1rem white;
    position: fixed;
    bottom: 26rem; 
}

.profile div{
   cursor: pointer;
   padding: 0.2rem 0.1rem 0.2rem 0.1rem;
}

.profile div:hover{
    background-color: rgb(48, 47, 47);
    padding: 0.2rem 0.1rem 0.2rem 0.1rem;  
}

header{
    background-color: transparent;
    position: fixed;
    z-index: 123;
    top: 0;
    left: 0;
    width: 100%;
    transition: 3s;
  
}
header.black-bg{
    background-color: rgb(20,20,20);
    transition: 3s;
}
.header-cont{
    display: flex;
    justify-content: space-between;
    
}

.leftCon,.rightCon{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.header-brand{
   max-width: 136px; 
}
.main-nav{
    list-style: none;
    display: inline-flex ;
    flex-direction: row;
    padding-left: 30px;
}
.nav-item{
    margin-right: 20px;
    color: #e5e5e5;
    opacity: 0.83;
    cursor: pointer;
}

.nav-item.active{
    color: white;
    opacity: 1;
    font-weight: 600;
}

ion-icon{
 color: white;
 font-size: 1.35rem;
 margin-right: 16px;
 cursor: pointer;
}
.rightCon ion-icons,.rightCon img{
    margin-right: 22px;
    cursor: pointer;
}

.rightCon img{
    max-width: 36px;
}


/* -------------movie section---------------------- */
.outer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
}
.movieSection{
   position: absolute;
   top: 13%;
  
  width: 96rem;
}
.movie-item{
    width: 16rem;
    
}




